body {
  background: whitesmoke;
}

#bootstrap-overrides .sidebar_links>a {
  padding: 0 0 0 30px;
  font-size: .9em;
}

#bootstrap-overrides .sidebar_links>a:hover {
  background: #cccccc;
  color: black;
}

.menu-heading {
  position: relative;
  z-index: 100;
  background: #b3d4fc;
  font-size: 1.3em;
  padding-left: 10px;
  cursor: default;
}

a.list-group-item {
  text-decoration: none;
  border-bottom: none;
}

li a {
  color: black;
}

li a:hover {
  color: black;
  cursor: default;
}

.tab-content {
  padding-left: 30px;
  background: white;
  border: 1px solid #dee2e6;
}

/*#vline-left-border {*/
/*  position: absolute;*/
/*  height: 1380px;*/
/*  padding: 8px;*/
/*  background: #b3d4fc;*/
/*  z-index: 1;*/
/*}*/
